<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
</head>

<body>
<div th:fragment="footer">
    <div class="fixed-bottom" id="footer">
        <br/>
        <div class="col-lg-12 text-center">
            <div sec:authorize="isAuthenticated()">
               <span>
                   | Logged user: <span sec:authentication="name"></span> |
               </span>
                <span>
                    Roles: <span sec:authentication="principal.authorities"></span> |
                </span>

<!--                                <a th:href="@{/logout}">Sign Out</a>-->
                <span>
                     <form action="/logout" method="post">
                        <button type="submit" name="Log out!" value="" class="btn btn-link">Log out!</button>
                    </form>
                </span>

            </div>
            <div>
                <p class="text-center">&copy; 2020 Team2</p>
            </div>

        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/jquery/jquery.slim.min.js" th:src="@{/jquery/jquery.slim.min.js}"></script>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"
            th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>


</div>

</body>
</html>