<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <div th:fragment="header-css">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <style>
            body {
                padding-top: 100px;
                padding-bottom: 120px;
            }
            #footer {
                background-color: #f5f5f5;
            }
            .custom {
                width: 70px !important;
            }


        </style>
        <title>Accenture Bootcamp</title>
        <!-- Bootstrap core CSS -->
        <link th:href="@{/bootstrap/css/bootstrap.min.css}" href="../static/bootstrap/css/bootstrap.min.css"
              rel="stylesheet">
    </div>
</head>

<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" th:href="@{/home}">ACCENTURE Java Bootcamp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive" >
                <ul class="navbar-nav ml-auto">
<!--                    <li th:classappend="${#httpServletRequest.getRequestURI() == '/home' ? 'active':''}" class="nav-item ">-->
<!--                        <a class="nav-link" th:href="@{/home}">Home-->
<!--                        </a>-->
<!--                    </li>-->
                    <li th:if="${#authorization.expression('hasRole(''ROLE_STUDENT'')')}"
                        th:classappend="${#httpServletRequest.getRequestURI() == '/user' ? 'active':''}" class="nav-item">
                        <a  class="nav-link" th:href="@{/user}">Dashboard</a>
                        <span class="sr-only">(current)</span>
                    </li>
                    <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                        th:classappend="${#httpServletRequest.getRequestURI() == '/admin' ? 'active':''}" class="nav-item">
                        <a   class="nav-link" th:href="@{/admin}">Dashboard</a>
                        <span class="sr-only">(current)</span>
                    </li>
                    <li th:classappend="${#httpServletRequest.getRequestURI() == '/contacts' ? 'active':''}" class="nav-item" >
                        <a class="nav-link" th:href="@{/contacts}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</body>
</html>