<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="fragments/header.html :: header-css"/>

</head>

<body>

<div th:replace="fragments/header.html :: header"/>


<!-- Page Content -->
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-6 text-center">

            <p th:text="${#authentication.authorities}"></p>

            <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') }">
                This will only be displayed if authenticated user has role ROLE_ADMIN.
            </div>


            <table class="table table-bordered table-hover table-sm">
                <thead class="thead-light">
                <tr>
                    <th scope="col">User Id</th>
                    <th scope="col">User Name</th>
                    <th scope="col">User Score</th>
                </tr>
                </thead>
                <tbody >
                <tr th:each="user: ${users}">
                    <th scope="row" th:unless="${user.name == 'admin'}" th:text="${user.id}"></th>
                    <td th:unless="${user.name == 'admin'}"  th:text="${user.name}"></td>
                    <td th:unless="${user.name == 'admin'}"  th:text="${user.score}"></td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>


<div class="container mt-5">
    <div class="row justify-content-md-center">
        <div class="col-lg-6 text-center">

            <table class="table table-bordered table-hover table-sm">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Test Id</th>
                    <th scope="col">Test Name</th>
                    <th scope="col">Test Duration</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="testkc: ${testsKC}">
                    <td th:text="${testkc.id}"></td>

                    <td><a th:href="@{'/admin/testmanage/test' + ${testkc.getId()}}" th:text="${testkc.name}"></a></td>
                    <td th:text="${testkc.durationMinutes}"></td>
                    <td><a class="btn btn-primary" th:href="@{'/admin/testmanage/test' + ${testkc.getId()}}" th:text="Edit" role="button"></a></td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>

    <div th:replace="fragments/footer.html :: footer"/>

</body>

</html>