<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="/fragments/header :: header-css"/>

</head>

<body>

<div th:replace="/fragments/header :: header"/>


<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">

                <table class="table">
                    <tr>
                        <th>Test Name</th>
                        <th>Test Id</th>
                        <th>Test Duration</th>
                    </tr>
                    <tr th:each="testkc: ${testsKC}">
                        <td th:text="${testkc.id}"></td>

                        <td><a th:href="@{'/test/' + ${testkc.getId()}}" th:text="${testkc.name}"></a></td>
                        <td th:text="${testkc.durationMinutes}"></td>
                    </tr>
                </table>
            </div>

    </div>
</div>

<div th:replace="/fragments/footer :: footer"/>

</body>

</html>