<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="fragments/header.html :: header-css"/>

</head>

<body>

<div th:replace="fragments/header.html :: header"/>


<div class="container">

    <div class="row justify-content-md-center">
        <div class="col-lg-6 text-left">
            <form id="quiz" th:action="@{'/admin/test/create'}" method="post">
                <table>
                    <tr >
                        <td >
                            Enter test name:
                        </td>
                        <td>
                            <input type="text" th:field="*{dtoTest.name}" />
                        </td>
                    </tr>

                    <tr >
                        <td >
                            Enter test duration:
                        </td>
                        <td>
                            <input type="text" th:field="*{dtoTest.duration}" />
                        </td>
                    </tr>

                </table>
                <hr>
                <p><input type="submit" value="Submit" style="float: right;"/></p>
        </div>
    </div>
</div>

<div th:replace="fragments/footer.html :: footer"/>

</body>
</html>