<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="fragments/header.html :: header-css"/>

</head>

<body>

<div th:replace="fragments/header.html :: header"/>


<div class="container">

    <div class="row justify-content-md-center">
        <div class="col-lg-6 text-left">
            <form id="quiz" th:action="@{'/admin/test/' + ${testId} + '/create'}" method="post">

                <div class="form-inline d-flex">
                    <div class="p-2">
                        <label for="Name">Enter test name:</label>
                    </div>
                    <div class="ml-auto p-2">
                        <input class="form-control pull-right" id="Name" type="text" th:field="*{dtoTest.name}" />
                    </div>
                </div>
                <div class="form-inline d-flex">
                    <div class="p-2">
                        <label for="Duration">Enter test duration (in minutes):</label>
                    </div>
                    <div class="ml-auto p-2">
                        <input class="form-control pull-right" id="Duration" type="text" th:field="*{dtoTest.duration}" />
                    </div>
                </div>

                <hr>
                <p><input class="btn btn-primary" type="submit" value="Submit" style="float: right;"/></p>
        </div>
    </div>
</div>

<div th:replace="fragments/footer.html :: footer"/>

</body>
</html>