<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Accenture Java Bootcamp</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="home.html">ACCENTURE Java Bootcamp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="contacts.html">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h1>Sign In</h1>
            </div>
            <div class="card-body">
                <form>
                    <div class="input-group form-group">
                        <label>
                            <input type="text" class="form-control" placeholder="username" required maxlength="50">
                        </label>
                    </div>

                    <div class="input-group form-group">
                        <label>
                            <input type="password" class="form-control" placeholder="password" required maxlength="50">
                        </label>
                    </div>

                    <div class="form-group">
                        <label>
                            <input type="checkbox">
                        </label>Remember Me
                        <input type="submit" value="Login" class="btn-light">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Don't have an account?<a href="userRegistration.html">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="../static/jquery/jquery.slim.min.js"></script>
<script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>


</body>

</html>
