<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="fragments/header.html :: header-css"/>

</head>

<body>


<div class="container">


    <div th:replace="fragments/header.html :: header"/>


    <div class="row justify-content-md-center">
        <div class="col-lg-6 text-left">

            <form th:action="@{'/admin/test/' + ${dtoTest.id} + '/question/' + ${dtoQuestion.id} + '/create'}" method="post">

                <div class="form-group">
                    <label for="Question" th:text="${'Enter question for #' + dtoQuestion.id} + ': '"></label>
                    <input id="Question" type="text" th:field="*{dtoQuestion.question}" />
                </div>
                <div class="form-group">
                    <ol>
                        <li type="a" th:each="answ, itemStat : *{questionAnswers.answers}">
                            <label for="Answer">Enter correct answer: </label>
                            <input id="Answer" th:field="*{questionAnswers.answers[__${itemStat.index}__]}"/>
                        </li>
                    </ol>
                </div>
                <div class="form-group">
                    <label for="RightAnswer" >Enter correct answer (a,b,c ... or?)):</label>
                    <input id="RightAnswer"  th:field="*{dtoQuestion.correctAnswer}" />
                </div>
                <p><input class="btn btn-primary" type="submit" value="Submit" style="float: right;"/></p>
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments/footer.html :: footer"/>


</body>
</html>