<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="fragments/header.html :: header-css"/>

</head>

<body>


<div class="container">


    <div th:replace="fragments/header.html :: header"/>


    <div class="row justify-content-md-center">
        <div class="col-lg-6 text-left">



            <form id="quiz" th:action="@{'/admin/test/' + ${dtoTest.id} + '/question/' + ${dtoQuestion.id} + '/create'}" method="post">
                <table>

                    <tr >
                        <td >
                            <span th:text="${'Enter question for #' + dtoQuestion.id} + ': '"></span>
                            <span><input type="text" th:field="*{dtoQuestion.question}" /></span>
                        </td>

                    </tr>


                    <tr >
                        <td>
                            <ol >
                                <li type="a" th:each="answ, itemStat : *{questionAnswers.answers}">
                                    <span> Enter answer: </span>
                                    <span>
                                        <input th:field="*{questionAnswers.answers[__${itemStat.index}__]}" />
                                    </span>

                                </li>
                            </ol>

                        </td>

                    </tr>
                    <tr>
                        <td>
                            <span> Enter correct answer (a,b,c ... or?)):</span>
                            <span>
                                <input th:field="*{dtoQuestion.correctAnswer}" />
                            </span>

                        </td>

                    </tr>
                </table>
                <p><input type="submit" value="Submit" style="float: right;"/></p>
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments/footer.html :: footer"/>


</body>
</html>