<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Timer</title>
</head>

<body>
    <h4 id="countdownTimerExample">Countdown Timer</h4>
    <p>
        The timer can act as countdown timer if the countdown parameters is passed with a truly value to the start
        method. The minimum target value of the countdown timer
        is 0.
    </p>


    <h5>Result</h5>
    <div class="card mb-5">
        <div class="text-center card-body" id="countdownExample">
            <div class="values"></div>
        </div>
    </div>
    <script src="../static/dist/examples.min.js"> </script>
</body>

</html>