<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="/fragments/header :: header-css"/>

</head>

<body>

<div th:replace="/fragments/header :: header"/>


<h1>These are results</h1>
<div>
    <p>
        <span th:text="${'These are results for test #' + dtoTestKC.name }"></span><br>
        <span th:text="${'Congrats you scored:'  + dtoTestKC.score + ' points!'}"></span><br>
    </p>

    <div>
        <table>
            <tr th:each="d: ${dtoTestKC.questionList}">
                <ol>
                    <p th:text="${ d.id + '. ' + d.question}"></p>
                    <li type="a" th:each="a: ${d.answers}" th:text="${a}"></li>
                    <hr>
                    <span th:text="${'The correct answer to question #' + d.id + ' is - ' + d.correctAnswer}"></span><br>
                    <span th:text="${'Your answer is - ' + d.userAnswer}"></span><br>
                    <hr>
                </ol>
            </tr>
        </table>
    </div>
</div>

<div th:replace="/fragments/footer :: footer"/>

</body>
</html>