<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="fragments/header.html :: header-css"/>

</head>

<body>

<div th:replace="fragments/header.html :: header"/>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-6 text-left">
            <div class="text-left">
                <h4 th:text="${'Results for test #' + dtoTestKC.name }"></h4>
                <p><span th:text="${'Congrats you scored:'  + dtoTestKC.score + ' points!'}"></span><br></p>
            </div>
            <table class="table table-borderless table-sm" th:each="d, itemStatus: ${dtoTestKC.questionList}">
                <tr>
                    <th th:text="${ itemStatus.index + 1 + '. ' + d.question}"></th>
                </tr>
                <tr>
                    <td th:text="${'The correct answer to question #' + d.id + ' is - ' + d.correctAnswer}"></td>
                </tr>
                <tr>
                    <td th:text="${'Your answer is - ' + d.userAnswer}"></td>
                </tr>
                <hr>
            </table>
            <hr>
        </div>
    </div>
</div>


<div th:replace="fragments/footer.html :: footer"/>

</body>
</html>