<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="fragments/header.html :: header-css"/>

</head>

<body>

<div th:replace="fragments/header.html :: header"/>


<div class="container">
    <h1>This is a testKC!</h1>
    <p>
        <span th:text="${'Welcome user - ' + user + '!'}"></span><br>
        <span th:text="${'This is test #' + testKC.name}"></span><br>
    </p>

    <h5>Result</h5>
    <div class="card mb-5">
        <div class="text-center card-body" id="countdownExample">
            <div class="values"></div>
        </div>
    </div>

    <div class="row">

        <form th:action="@{'/user/result/test' + ${testKC.getId()}}" th:object="${form}" method="post">
            <table>
                <tr th:each="d: ${testKC.questionList}">
                    <ol>
                        <p th:text="${d.question}"></p>
                            <li type="a" th:each="a: ${d.answers}" th:text="${a}"></li>
                            <p>Your answer : <input type="text" th:field="*{properties['__${d.id}__']}"placeholder="answer"/></p>
                            <span th:text="${d.correctAnswer}"></span><br>
                            <span th:text="${d.userAnswer}"></span><br>
                        <hr>
                    </ol>
                </tr>
            </table>
            <p><input type="submit" value="Submit"/></p>
        </form>
    </div>
</div>


<div th:replace="fragments/footer.html :: footer"/>
<script src="../static/dist/examples.min.js" th:src="@{/dist/examples.min.js}"> </script>
</body>
</html>