<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="fragments/header.html :: header-css"/>

</head>

<body>

<div th:replace="fragments/header.html :: header"/>


<div class="container">

    <div class="row justify-content-md-center">
        <div class="col-lg-6 text-left">
            <div class="text-left pb-2">
                <h4 th:text="${'This is test #' + testKC.id + ' - ' + testKC.name}"></h4>
                <hr>
                <form th:action="@{'/admin/test/' + ${testKC.id} +'/question/new' }" method="get">

                    <div class="form-inline d-flex">
                        <div class="pl-3 row">
                            <div class="pt-3 font-weight-bold">
                                <label for="url">Set answer count:</label>
                            </div>
                            <div class="p-2">
                                <input class="form-control input-sm" type="text" name="url" id="url"
                                       placeholder="answer count" required="true">
                            </div>
                            <div class="ml-auto p-2">
                                <input class="btn btn-primary" type="submit" value="Add Question"
                                       style="float: right;"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <table class="table table-borderless table-sm" th:each="quest: ${testKC.questionList}">
                <thead>
                <tr >
                    <th style="width: 80%" scope="col" th:text="${quest.id + '. ' +  quest.question}"></th>
                    <th style="width: 20%" scope="col">     <a class="btn btn-primary btn-sm custom" th:href="@{'/admin/testmanage/test'+${testKC.getId()} +'/quest' + ${quest.getId()}}" th:text="Edit" role="button"></a></th>
                </tr>

                </thead>
                <tbody>
                <tr>
                    <td>
                        <ol >
                            <li type="a" th:each="ans: ${quest.answers}" th:text="${ans}"></li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td th:text="${'Correct answer is: ' + quest.correctAnswer}"></td>
                </tr>
                </tbody>
                <hr>
            </table>
        </div>
    </div>

</div>

<div th:replace="fragments/footer.html :: footer"/>
<script src="../static/dist/examples.min.js" th:src="@{/dist/examples.min.js}"> </script>
</body>
</html>