<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>This is a testKC!</h1>
<div>
    <p>
        <span th:text="${user}"></span><br>
        <span th:text="${question}"></span><br>
        <span th:text="${testKC.name}"></span><br>
        <span th:text="${score}"></span><br>
    </p>
    <div>
        <form th:action="@{/result}" method="post">
            <table>
                <tr th:each="d: ${testKC.questionList}">
                    <ol>
                        <p th:text="${d.question}"></p>
                            <li type="a" th:each="a: ${d.answers}" th:text="${a}"></li>
                            <p>Your answer : <input type="text" th:field="*{dtoQuestion.userAnswer}" placeholder="answer"/></p>
                            <span th:text="${d.correctAnswer}"></span><br>
                            <span th:text="${d.userAnswer}"></span><br>
                        <hr>
                    </ol>
                </tr>
            </table>
            <p><input type="submit" value="Submit"/></p>
        </form>
    </div>
</div>
</body>
</html>