<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="fragments/header.html :: header-css"/>

</head>

<body>

<div th:replace="fragments/header.html :: header"/>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="mt-5" th:text="${'This is user''s ' + user.name + ' dashboard!'}"/>
            <p class="lead" th:text="${'And your current test score is: ' + user.score}"/>


            <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') }">
                This will only be displayed if authenticated user has role ROLE_ADMIN.
            </div>

            <table>
                <tr>
                    <th>Test Name</th>
                    <th>Test Id</th>
                    <th>Test Duration</th>
                </tr>
                <tr th:each="testkc: ${user.userTests}">
                    <td th:text="${testkc.testKC.id}"></td>

                    <td ><a th:href="@{'/user/test' + ${testkc.testKC.id}}" th:text="${testkc.testKC.name}"></a></td>
                    <td th:text="${testkc.testKC.durationMinutes}"></td>
                </tr>
            </table>


        </div>
    </div>
</div>

<div th:replace="fragments/footer.html :: footer"/>

</body>

</html>
