<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="fragments/header.html :: header-css"/>

</head>

<body>

<div th:replace="fragments/header.html :: header"/>

<!-- Page Content -->
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-6 text-center">
            <div class="text-center mb-4">
                <h3 th:text="${'Welcome student ' + user.name + '!'}"/>
                <p class="lead"
                   th:text="${'Your current test grade is: ' + #numbers.formatDecimal(user.score * 100, 1, 'POINT', 2, 'COMMA')} +'%'"/>
            </div>
            <div class="text-left" th:each="tst: ${allDtoTests}" >

                <a th:href="@{'/user/test' + ${tst.id}}"  th:text="${tst.name}"> </a>

            </div>
            <table class=" table table-bordered table-hover table-sm">
                <thead class="thead-light">
                <tr>
                    <th>Id</th>
                    <th>Test Name</th>
                    <th>Score</th>
                    <th>Duration</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="testkc: ${user.userTests}">
                    <td style="width: 10%" th:text="${testkc.testKC.id}"></td>
                    <td style="width: 60%" th:text="${testkc.testKC.name}"></td>
                    <td style="width: 15%" th:text="${testkc.testKC.durationMinutes}"></td>
                    <td style="width: 15%" th:text="${testkc.getScore()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="fragments/footer.html :: footer"/>

</body>

</html>
