<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Accenture Java Bootcamp</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#">ACCENTURE Java Bootcamp</a>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h1>Registration Form</h1>
            </div>
            <div class="card-body">
                <form>
                    <div class="input-group form-group">
                        <label>
                            <input type="text" class="form-control" placeholder="username">
                        </label>
                    </div>

                    <div class="input-group form-group">
                        <label>
                            <input type="text" class="form-control" placeholder="e-mail">
                        </label>
                    </div>

                    <div class="input-group form-group">
                        <label>
                            <input type="password" class="form-control" placeholder="password">
                        </label>
                    </div>

                    <div class="input-group form-group">
                        <label>
                            <input type="password" class="form-control" placeholder="repeat password">
                        </label>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Register" class="btn-light">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="../static/jquery/jquery.slim.min.js"></script>
<script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>


</body>

</html>
